html, html * {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	background-color: #000000;
	z-index: -999;
} 

body {
	width: 1280px;
	background-color: hsl(15, 0%, 100%);
	margin: auto;
	padding-top: 32px;
	padding-bottom: 10px; 
	font-family: Helvetica;
}

header, #mid_banner {
	margin: 15px 8px 0 8px;
	background-image: url("../images/the-flatiron-building2.png"); 
	background-size: cover;
}

header {
	background-position: -200px;
}

h1, #mid_banner p {
	font-weight: 700;
}

p, footer li, footer a {
	font-weight: 600;
}

h1, nav a, #mid_banner p, footer * {
	color:#ffffff;
}

h1, nav a, h2, h3, p {
	text-align: center;
} 

h1 {
	font-size: 70px;
	padding-bottom: 25px;
}

nav, nav *, #main_top img {
	margin: 0 auto;
}

nav a, h2, h3 {
	font-weight: 800;
}

nav a {
	padding-top: 12px;
	display: block;
	font-size: 18px;
}

h2 {
	font-size: 32px;
}

#main_top *, #main_bottom h3, #main_bottom p {
	padding-top: 15px;
}  

#main_top img {
	display: block;
}

h3, #mid_banner p {
	font-size: 23px;
}

p {
	font-size: 14px;
}

#mid_banner {
	background-position: -75px;
	margin-top: 20px;
}

#sub p:not(:first-child) {
	padding-top: 10px;
}

footer {
	background-color: dimgrey;
	margin: 15px 8px 0 8px;
	line-height: 13px;
}

footer ul {
	text-decoration: none;
	padding-left: 2px;
}

footer li, footer a {
	display: inline;
	font-size: 11px;
	padding-bottom: 1px;
}